body {

}

#tuWin {
	display: block;
	border: 1px solid #d6d6d6;
    border-radius: 2px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	min-width: 150px;
	min-height: 50px;
    padding: 10px;
    background-color: white;
    border-radius: 4px;
}

.tu-active, .tu-selected {
    outline: rgba(0, 39, 163, 0.25) solid 3px !important;
}
.tu-selected {
    outline: rgba(7, 163, 0, 0.25) solid 3px !important;
}

#tuWin #tuCancel, #tuWin #tuOk {
    border: 1px solid gray;
    display: inline-block;
    padding: 5px;
    display: inline-block;
    *display: inline;
    padding: 2px 10px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 10px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    *border: 0;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

}
#tuWin #tuOk {
    float: right;
    background: #2ca3ed;
    background: -moz-linear-gradient(top,  #2ca3ed 0%, #0674b9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2ca3ed), color-stop(100%,#0674b9));
    background: -webkit-linear-gradient(top,  #2ca3ed 0%,#0674b9 100%);
    background: -o-linear-gradient(top,  #2ca3ed 0%,#0674b9 100%);
    background: -ms-linear-gradient(top,  #2ca3ed 0%,#0674b9 100%);
    background: linear-gradient(to bottom,  #2ca3ed 0%,#0674b9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ca3ed', endColorstr='#0674b9',GradientType=0 );
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border-color: #00619e;
    color: white;
}
#tuWin .btns {
    margin-top: 10px;
}