<h2 id='title'>Welcome to Ember.js</h2>

{{#link-to "signup" class="btn btn-lg btn-primary"}}Sign Up Now{{/link-to}}
{{#link-to "login" class="btn btn-lg"}}Login{{/link-to}}
{{render "notifications"}}
{{outlet}}
 